<div class="login_page">
  <div class="login_main">
    <h2 class="login_title">ログイン</h2>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
      <div class="login_form">
        <p class="login_label_mail">【メールアドレス】<span class="login_label_span">※必須</span></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login_field" %>
      </div>

      <div class="login_form">
        <p class="login_label_password">【パスワード】<span class="login_label_span">※必須</span></p>
        <%= f.password_field :password, class: "login_field" %>
      </div>

      <div class="login_submit">
        <%= f.submit "ログイン", class: "login_btn" %>
      </div>
    <% end %>

  </div>
</div>
